<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${pageTitle}]]</title>
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>-->
<!--</head>-->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!--</head>-->
<body>
<div class="container-fluid">
	<div>
		<nav class="navbar navbar-expand-lg bg-info navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/flogo.png}" style="width: 20%;height: 20%"/>
			</a>
			<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">Categories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">Brands</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">Customers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">Shipping</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/report}">Sales Report</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">Orders</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">Settings</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div>
	<h2>Manage Users | [[${pageTitle}]]</h2>
</div>
<form th:action="@{/users/save}" method="post" onsubmit="return checkEmailUnique(this);" style="max-width: 700px; margin:0 auto"
th:object="${user}" enctype="multipart/form-data">
	<input type="hidden" th:field="*{id}"/>
	<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Email:</label>
			<div class="col-sm-8">
				<input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="120">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">First Name:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="120">
			</div>
		</div>
		<div class="form-group row">
		<label class="col-sm-4 col-form-label">Last Name:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="120">
		</div>
		</div>
		<div class="form-group row">
		<label class="col-sm-4 col-form-label">Password:</label>
		<div class="col-sm-8">
			<input th:if="${user.id==null}" type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="30">
			<input th:if="${user.id!=null}" type="password" class="form-control" th:field="*{password}" minlength="8" maxlength="30">
		</div>
		</div>
		<div class="form-group row">
		<label class="col-sm-4 col-form-label">Roles:</label>
		<div class="col-sm-8">
			<th:block th:each="role: ${listRoles}">
				<input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}">
			- <small>[[${role.description}]]</small>
				</br>
			</th:block>
		</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Enabled:</label>
			<div class="col-sm-8">
				<input type="checkbox" th:field="*{enabled}">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Hình ảnh:</label>
			<div class="col-sm-8">
				<input type="hidden" th:field="*{photos}"/>
				<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"/>
				<img id="avatar" alt="Avatar" th:src="@{${user.photosImagePath}}" style="width: 130px;height: 150px;"/>
			</div>
		</div>
		<div class="text-center">
			<input type="submit" value="Lưu" class="btn btn-primary"/>
			<input type="button" value="Huỷ" class="btn btn-secondary" id="cancel"/>
		</div>
	</div>
</form>
<script type="text/javascript">
	$(document).ready(function () {
		$("#cancel").on("click", function(){
			window.location = "[[@{/users}]]";
		})
		$("#fileImage").change(function (){
			fileSize = this.files[0].size;
			if(fileSize > 1048576){
				this.setCustomValidity("File hình ảnh phải nhỏ hơn 1MB");
				this.reportValidity()
			}else{
				this.setCustomValidity("");
				showAvatar(this);
			}
		})
	});
	function showAvatar(fileInput){
		var file= fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function (e){
			$("#avatar").attr("src", e.target.result);
		};
		reader.readAsDataURL(file);
	}
	function checkEmailUnique(form){
		url = "[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		userId= $("#id").val()
		csrfValue = $("input[name='_csrf']").val();
		params = {id: userId,email: userEmail,_csrf: csrfValue};

		$.post(url, params, function (response){
			if(response == "OK"){
				form.submit();
			}else if(response == "Exist") {
				showModalDialog("Thông báo","Email : " + response + " đã được đăng ký")
			}else
				showModalDialog("Thông báo","Lỗi không xác định")
		}).fail(function () {
			showModalDialog("Thông báo","Không thể kết nối tới máy chủ")
		});
		return false;
	}
	function showModalDialog(title, message){
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
</script>

<div>
	<table class="table table-bordered table-striped table-hover table-responsive-xl">
		<thead class="thead-light">
			<tr>
				<th>User Id</th>
				<th>Photos</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Roles</th>
				<th>Enabled</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${listUsers}">
				<td>[[${user.id}]]</td>
				<td></td>
				<td>[[${user.email}]]</td>
				<td>[[${user.firstName}]]</td>
				<td>[[${user.lastName}]]</td>
				<td>[[${user.roles}]]</td>
				<td>[[${user.enabled}]]</td>
				<td>Edit &nbsp; Delete</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal fade text-center" id="modalDialog">
	<div class ="modal-dialog">
		<div class = "modal-content">
			<div class="modal-header">
				<h4 class ="modal-title" id="modalTitle">Thông báo</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<span id="modalBody"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>